body {
    width: 100vw;
    height: 100vh;
    margin:0;

    background-color: black;
    display: flex;
    justify-content: center;
}
.site-container__blue-bg{
    width: 75%;
    background-color: rgb(16 171 253);

    display: flex;
    justify-content: center;
    align-items: center;
    /*difference between align items and align-content*/
}

.site-container__black-border{
    width: 90%;
    height: 88%;
    background-color: rgb(242 242 242) ;
    
    border: 10px solid black;
    border-radius: 35px;
}

