* {
    background-color: rgb(16 171 253);
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#site-container {
    width: 96%;
    height: 90%;
 
    border: 10px solid black;
    border-radius: 30px;

    display: grid;
    grid-template-columns: minmax(150px, 25%) auto; /*sidebar says*/
}


