body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    color: rgb(236 250 255);
    background-color: rgb(16 171 253);
    font-family: 'Roboto', sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#site-container {
    width: 96%;
    height: 90%;
 
    border: 6px solid black;
    border-radius: 10px;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
}

.site-container__sidebar{
    grid-column: 1 / span 2;
    background-color: rgb(242 242 242) ;
}
/* [Holy Grail Layout]: https://1linelayouts.glitch.me/ */
.site-container__content{
    grid-column: 3 / span 10;
    background-image: url("./assets/ko-tao-island-1500x1088-jpeg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* [Line Up]:  https://1linelayouts.glitch.me/*/
.site-container__nav {
    padding: 2rem;
    grid-column: 4 / span 9;
    
    display: flex;
    padding: 1rem;
    justify-content: space-around;

    list-style-type: none;
    font-weight: 600;
}

.site-container__nav li
{
    padding: 0.3rem;
}

#site-dropdown {
    display: flex;
    gap: 0.1rem;
}

#site-dropdown__flag {
    width: 30px;
}

.site-container__main {
    grid-column: 4 / span 9;

}

.site-container__footer {
    grid-column: 12/ span 1;
}

#site-button__sign-up {
    color: rgb(30 120 181);
    background-color: rgb(255 255 255);
    border-radius: 10%;
}
/* NAV END */


.site-container__main-card{
    
}
